.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}













.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  padding-left: 20px;
  padding-right: 20px;
  background-image: #453fa2;
  background-image: linear-gradient(#453fa2, #fff);
  padding-bottom: 2px;
  border-bottom: 1px solid #000;
}
nav > img {
  width: 60px;
}
.nav-list {
  list-style-type: none;
  display: flex;
  color: white;
}

.nav-list > li{
  width: 80px;
  height: 65px;
  display:flex;
  justify-content: center;
  align-items: center;
}

.nav-list > li:hover{
  transform:scale(1.2);
  opacity: 0.5;
  transition: transform, background 0.01s
}

footer {
  background: #463fa242;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  width: 100%;
  height: 5rem;
  bottom: 0px; 
}