p {
    margin: 0;
    padding: 0;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 25px;
    height: 90px;
    background: #21222A;
    color: #fff;
}
nav > h3 {
    margin: 0;
    font-size: 22px;
}

nav > h4 {
    color: #DEEBF8;
    font-weight: 600;
}
img{
    display: block;
    height:30px;
}
.logo-container {
    display: flex;
    align-items: center;
    color: #61DAFB;
    font-weight: 700;
}
.logo {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

/*--------------------
MainBody Styling
------------------- */
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #282D35;
}   
.container {
    /* margin: 40px; */
    color: #fff;
    background-image: url(./logo512.png);
    background-repeat: no-repeat;
    background-position: right 75%;
    padding: 57px 27px;
}

main > .title {
    margin: 0;
    font-size: 39px;
    letter-spacing: -0.05em;
}

.ulist {
    margin-top: 46px;
    max-width: 400px;
}
.list {
    /* padding: 10px; */
    padding-block: 10px;
    /* color: #1cd6f7; */
}

.list::marker {
    font-size: 1.4rem;
    color: #61DAFB;
}
